{
  "version": 1.0,
  "project": "ANTestOrganization-${repo}-${branch}",
  "team": "CxServer/Team1/",
  "sast": {
    "preset": "",
    "engineConfiguration": "",
    "incremental": "false", 
    "forceScan": "true", 
    "fileExcludes": "*.pyc, *.test, *.class",
    "folderExcludes": "*test, out/, *bin"
    }
  }
